@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  box-sizing: border-box;
}

$background: #202020;
$border-stopwatch: #87f5fb;
$list-background: #3a3a3a63;
